<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      Có <%= object.errors.count %> lỗi xảy ra.
    </div>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>