.flash-errors {
  .alert {
    border-radius: 0;
    margin-bottom: 0;
  }
}

.alert-notice {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-notice hr {
  border-top-color: #c9e2b3;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 20px;
  }
}