<% @unit.courses.each_with_index do |course, index| %>
	<% if (index+1)%3 == 1 %>
		<div class="agile_top_brands_grids">
	<% end %>
	<div class="col-md-4 top_brand_left">
		<div class="hover14 column">
			<div class="agile_top_brand_left_grid">
				<div class="agile_top_brand_left_grid1">
					<figure>
						<div class="snipcart-item block">
							<div class="snipcart-thumb">
								<a href="#"><%= image_tag ("course.png") %></a>		
								<h4><%= course.name %></h4>
							</div>
							<div class="snipcart-details top_brand_home_details">
								<% if current_user.user_courses.find_by(course_id: course.id) %>
									<input type="submit" name="submit" value="Chờ phê duyệt" class="button">
								<% else %>
									<%= link_to "#", remote: true, class: "button-register",
							      data: {
							        toggle: "modal",
							        url: new_user_course_path,
							        course_id: course.id,
							        user_id: current_user.id,
							        target: "#modal-register-course"
							      }, id: "register-course" do %>
							      Đăng ký
							    <% end %>
							   <% end %> 
							</div>
						</div>
					</figure>
				</div>
			</div>
		</div>
	</div>
	<% if (index+1)%3 == 0 %>
		<div class="clearfix"> </div>
		</div>
	<% end %>
<% end %>